# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.ipynb_checkpoints/
.venv/
venv/
ENV/
env/
.Python

# FastAPI / Uvicorn
*.log

# Java / Spring Boot (Maven/Gradle)
target/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
.gradle/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
.history/

# OS
.DS_Store
Thumbs.db
